{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "ThatOrganization",
      "Space": "dev"
    },
    "Name": "XYZECommerce",
    "Instrumentation": {
      "host": "XYZECommerce",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}